- @image.comments.each do |comment|
  .thumbnail.comment-thumb
    .row
      .col-xs-12
        -if comment.user.avatar.present?
          = image_tag "#{comment.user.avatar.small_thumb.url}", :class => "img-circle comment-avatar"
        %span.span-comment-name
          = comment.user.name
        %span.span-comment-text
          = comment.text
