-##like_form
-#  - if current_user.like_this_image?(@image.id)
-#    = render "likes/unlike"
-#  - else
-#    = render "likes/like"
#like_form
  - if current_user.like_this_image?(@image.id)
    = render partial: 'likes/unlike_button', locals: { image:  @image, like: @like }
  - else
    = render partial: 'likes/like_button', locals: { image:  @image }