= form_for(category, url: category_subscriptions_path(category.id), html: { method: :post }, remote: true) do |f|
  = f.submit t('.subscribe'), class: "btn btn-success subscribe-button", id: 'subscribe-btn'