#subscribe_form
  - if current_user.subscribed_image(@category.id)
    = form_for(@category, url: category_subscription_path(@category.id, @subscription.id), html: { method: :delete }, remote: true) do |f|
      = f.submit t('.unsubscribe'), class: "btn btn-danger subscribe-button", id: 'unsubscribe-btn'
  - else
    = form_for(@category, url: category_subscriptions_path(@category.id), html: { method: :post }, remote: true) do |f|
      = f.submit t('.subscribe'), class: "btn btn-success subscribe-button", id: 'subscribe-btn'

