#subscribe_form
  - if current_user.subscribed(@category.id)
    = render partial: 'subscriptions/unsubscribe_button', locals: { category:  @category, subscription: @subscription }
  - else
    = render partial: 'subscriptions/subscribe_button', locals: { category:  @category }