$('#avatarUploadModel .avatar-upload-errors').html("<ul>" +
    "<%- @avatar_obj.errors.full_messages.each do |message| %>" +
    "<li><%= message %></li>" +
    "<% end %>" +
    "</ul>")
$("#profile-img-thumbnail").html("<%= escape_javascript(
    if @avatar[:avatar_uploaded]
      image_tag "#{@avatar[:avatar].image.small_thumb.url}", :class => "img-circle"
    elsif !@avatar[:avatar_uploaded]
      image_tag @avatar[:avatar], :class => "img-circle"
    end)%>")
