%p#notice= notice
.row
  .col-xs-12
    .row
      - @categories_with_images.each do |category|
        -if category[:image_key].present?
          .col-xs-12.col-sm-4
            %div{align: "center"}
              .thumbnail.categories-small-thumb
                = image_tag category[:image_key].image.medium_thumb.url
                .caption
                  %div{align: "left"}
                    %span.categories-cat-name
                      =link_to "#{category[:category_key].name}", single_category_path(category[:category_key].slug), class: 'categories-link'

-#%p#notice= notice
-#%h1 Categories
-#%table
-#  %thead
-#    %tr
-#      %th Name
-#      %th User
-#      %th{:colspan => "3"}
-#  %tbody
-#    - @categories.each do |category|
-#      %tr
-#        %td= category.name
-#        %td= category.user_id
-#%br/
-#= link_to 'New Category', new_category_path
