.row.categories-new-main
  .container
    .row
      .col-xs-12
        .p.text-center
          %h1 New Category
    .row
      .col-xs-12
        .p.text-center
          = render 'form', category: @category

