.row
  %footer.footer
    .container
      .row.footer-logo-row
        .col-xs-12
          .p.text-center.footer-logo LOGO
      .row.footer-follow-row
        .col-xs-12
          %ul.footer-follow
            %li
              %a{:href => "https://www.facebook.com/"}
                %i.fa.fa-facebook
            %li
              %a{:href => "https://twitter.com/"}
                %i.fa.fa-twitter
            %li
              %a{:href => "https://plus.google.com/"}
                %i.fa.fa-google-plus
            %li
              %a{:href => "https://www.instagram.com/"}
                %i.fa.fa-instagram
            %li
              %a{:href => "https://www.linkedin.com/"}
                %i.fa.fa-linkedin
            %li
              %a{:href => "https://www.youtube.com/"}
                %i.fa.fa-youtube
      .row.footer-copyright-row
        .col-xs-12
          .p.text-center.copyright-p COPYRIGHT © 2017. ALL RIGHTS RESERVED. DEVELOPED BY CAPITALSAV
